<a href="javascript:;" title="Menu anzeigen" class="text-ocean block lg:hidden" data-btn-menu-show>
  {{ partial:icons/burger }}
</a>
<nav class="site-menu bg-silver-mist fixed right-0 top-0 pb-60 min-h-fit min-w-[60%] md:min-w-[40%] lg:relative lg:-bottom-3 lg:pb-0 lg:min-w-auto lg:top-auto lg:right-auto lg:bg-transparent" data-menu>
  <a href="javascript:;" title="Menu verbergen" class="block fixed right-22 md:right-50 top-25 lg:hidden" data-btn-menu-hide>
    {{ partial:icons/cross }}
  </a>
  <ul class="mt-80 lg:mt-0 mb-0 md:px-50 lg:flex lg:justify-end lg:items-end leading-none">
    {{ partial:menu/item :url="'#dienstleistungen'" :text="'Dienstleistungen'" }}
    {{ partial:menu/item :url="'#referenzen '" :text="'Referenzen '" }}
    {{ partial:menu/item :url="'#jobs  '" :text="'Jobs'" }}
    {{ partial:menu/item :url="'#partner'" :text="'Partner'" }}
    {{ partial:menu/item :url="'#ueber-mich'" :text="'Über&nbsp;mich'" }}
    {{ partial:menu/item :url="'#kontakt'" :text="'Kontakt'" }}
  </ul>
</nav>