<footer class="bg-ocean text-white py-30 md:py-40 leading-snug">
  <div class="site-container">
    <div class="mb-30 lg:mb-40">
      {{ partial:icons/logo-negative :class="'block h-auto w-180 lg:w-240'" }}
    </div>
    <div>
      <strong class="font-medium">Martin Weiss Treuhand AG</strong><br>
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-30 max-w-4xl">
      <div class="md:col-span-4">
        <a href="https://maps.app.goo.gl/jKhLQJkagpephJFu8" target="_blank" title="Auf Karte anzeigen" class="hover:underline underline-offset-2">Am Landsberg 39<br>8330 Pfäffikon ZH</a>
      </div>
      <div class="mt-10 md:mt-0 md:col-span-4">
        <a href="tel:079 712 28 18" title="Anruf an 079 712 28 18" class="hover:underline underline-offset-2" class="hover:underline underline-offset-2">079 712 28 18</a><br>
        <a href="https://www.treuhand-weiss.ch" title="Webseite" class="hover:underline underline-offset-2" class="hover:underline underline-offset-2">www.treuhand-weiss.ch</a>
      </div>
      <div class="mt-10 md:mt-0 md:col-span-4">
        <div>
          <a href="/impressum" rel="noopener" title="Impressum" class="hover:underline underline-offset-2">Impressum</a>&nbsp;|&nbsp;<a href="/datenschutz" rel="noopener" title="Datenschutz" class="hover:underline underline-offset-2">Datenschutz</a><br>
          <a href="https://stoz.ch" target="_blank" rel="noopener" title="Stoz AG" class="hover:underline underline-offset-2">Design by Stoz</a>
        </div>
      </div>
    </div>
  </div>
</footer>