<footer class="bg-ocean text-white py-30 md:py-40 leading-snug">
  <div class="site-container">
    <div class="mb-30 lg:mb-40">
      {{ partial:icons/logo-negative :class="'block h-auto w-180 lg:w-240'" }}
    </div>
    <div class="mb-10 md:mb-0">
      <strong class="font-medium">Martin Weiss Treuhand</strong><br>
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-30 md:items-end">
      <div class="mb-20 md:mb-0 md:col-span-4 lg:col-span-6">
        <div class="lg:grid lg:grid-cols-2 lg:gap-30">
          <div class="mb-10 lg:mb-0 lg:col-span-1">
            <a href="https://goo.gl/maps/m79LqXWQVZsCGaCg9" target="_blank" title="Auf Karte anzeigen" class="hover:underline underline-offset-2">Im Chrummenacher 2<br>8308 Illnau</a>
          </div>
          <div class="lg:col-span-1">
            <a href="https://goo.gl/maps/eb2Fo2F8Md9DdYsL7" target="_blank" title="Auf Karte anzeigen" class="hover:underline underline-offset-2">Untere Roostmatt 8<br>6300 Zug</a>
          </div>
        </div>
      </div>
      <div class="mb-20 md:mb-0 md:col-span-4 lg:col-span-3">
        <a href="tel:079 712 28 18" title="Anruf an 079 712 28 18" class="hover:underline underline-offset-2" class="hover:underline underline-offset-2">079 712 28 18</a><br>
        <a href="mailto:info@treuhand-weiss.ch" target="_blank" title="E-Mail an info@treuhand-weiss.ch senden" class="hover:underline underline-offset-2">info@treuhand-weiss.ch</a>
      </div>
      <div class="md:col-span-4 lg:col-span-3">
        <a href="/impressum" rel="noopener" title="Impressum" class="hover:underline underline-offset-2">Impressum</a>&nbsp;|&nbsp;<a href="/datenschutz" rel="noopener" title="Datenschutz" class="hover:underline underline-offset-2">Datenschutz</a><br>
        <a href="https://stoz.ch" target="_blank" rel="noopener" title="Stoz AG" class="hover:underline underline-offset-2">Design by Stoz</a>
      </div>
      
    </div>
  </div>
</footer>