<section class="site-container-wide py-24 md:pb-44">
  <a name="ueber-mich" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="content site-container">
    <h1 class="leading-none">Über mich</h1>
    <div class="md:grid md:grid-cols-4 md:gap-20">
      <div class="md:col-span-3 md:pr-10">
        <h2 class="!mb-5">Martin Weiss</h2>
        <p>Treuhänder</p>
        <p>Als diplomierter Wirtschaftsinformatiker habe ich über Jahrzehnte hinweg Software entwickelt und mir dabei buchhalterische sowie betriebliche Fachkenntnisse angeeignet. Diese ermöglichen mir nun, eine neue Rolle als Treuhänder wahrzunehmen. Ich verstehe die Arbeitsabläufe und Problemstellungen meiner Auftraggeber.</p>
        <p>Um meine Dienstleistungen effizient, termingerecht und in hoher Qualität durchzuführen, setze ich bewährte Software-Lösungen ein, die ich zum Teil ebenfalls vertreibe.</p>
        <p>Ich pflege mit meinen Kunden eine auf Vertrauen basierte Partnerschaft. Bei Bedarf übernehme ich von Ihnen einzelne Geschäftsprozesse, wie Finanzbuchhaltung, Liegenschaftsbuchhaltung und Lohnabrechnungen.</p>
      </div>
      <figure class="mt-30 md:mt-0 md:col-span-1">
        <img src="/assets/martin-weiss-treuhand-portrait.jpg" class="w-full" width="1302" height="928" alt="Patrick Steiner"> 
      </figure>
    </div>
  </article>
</section>