<section class="site-container-wide bg-silver-mist py-24 md:pb-44">
  <a name="kontakt" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="site-container content">
    <h1 class="text-ocean">Kontakt</h1>
    <h2 class="!mb-5">Martin Weiss Treuhand AG</h2>
    <p>
      Telefon <a href="tel:079 712 28 18" title="Anruf an 079 712 28 18" class="hover:underline underline-offset-2">079 712 28 18</a><br>
    </p>
    <div class="mt-30 xl:mt-40 md:grid md:grid-cols-2 md:gap-20">
      <div class="md:col-span-1">
        <h2 class="!mb-0 capitalize">Standort Illnau</h2>
        <a href="https://goo.gl/maps/m79LqXWQVZsCGaCg9" target="_blank" title="Auf Karte anzeigen" class="hover:underline underline-offset-2">Im Chrummenacher 2<br>8308 Illnau</a>
        <div class="mt-15 min-h-[240px] md:min-h-[400px]" id="map-illnau"></div>
      </div>
      <div class="mt-30 md:mt-0 md:col-span-1">
        <h2 class="!mb-0 capitalize">Standort Zug</h2>
        <a href="https://goo.gl/maps/eb2Fo2F8Md9DdYsL7" target="_blank" title="Auf Karte anzeigen" class="hover:underline underline-offset-2">Untere Roostmatt 8<br>6300 Zug</a>
        <div class="mt-15 min-h-[240px] md:min-h-[400px]" id="map-zug"></div>
      </div>
    </div>
    <div class="mt-30 xl:mt-40">
      {{# <div id="form-contact"></div> #}}

      {{ form:contact error_redirect="#error" redirect="#success" }}

        {{ if success }}
          <a name="success"></a>
          <div class="text-green-500" data-form-success>
            <p>Herzlichen Dank. Ihre Daten wurden erfolgreich übermittelt.</p>
          </div>
        {{ else }}
          {{ if errors }}
            <a name="error" class="scroll-mt-80 md:scroll-mt-125"></a>
            <div class="text-red-500" data-form-error>
              <ul>
                {{ errors }}
                  <li>{{ value }}</li>
                {{ /errors }}
              </ul>
            </div>
          {{ /if }}

          <div class="md:grid md:grid-cols-12 gap-15 mb-15">
            <div class="col-span-6 relative mb-15 md:mb-0">
              <input type="text" placeholder="Vorname*" name="firstname" value="{{ old:firstname }}" required class="bg-white border-0 ring-0 focus:ring-0 px-10 lg:py-15 w-full text-base placeholder:text-base placeholder:leading-none placeholder:text-black">
            </div>
            <div class="col-span-6 relative">
              <input type="text" placeholder="Name*" name="name" value="{{ old:name }}" required class="bg-white border-0 ring-0 focus:ring-0 px-10 lg:py-15 w-full text-base placeholder:text-base placeholder:leading-none placeholder:text-black">
            </div>
          </div>
          <div class="md:grid md:grid-cols-12 gap-15 mb-15">
            <div class="col-span-6 relative mb-15 md:mb-0">
              <input type="text" placeholder="Strasse, Nr*" name="street" value="{{ old:street }}" required class="bg-white border-0 ring-0 focus:ring-0 px-10 lg:py-15 w-full text-base placeholder:text-base placeholder:leading-none placeholder:text-black">
            </div>
            <div class="col-span-6 relative">
              <input type="text" placeholder="PLZ/Ort*" name="location" value="{{ old:location }}" required class="bg-white border-0 ring-0 focus:ring-0 px-10 lg:py-15 w-full text-base placeholder:text-base placeholder:leading-none placeholder:text-black">
            </div>
          </div>
          <div class="md:grid md:grid-cols-12 gap-15 mb-15">
            <div class="col-span-6 relative">
              <input type="email" placeholder="E-Mail*" name="email" value="{{ old:email }}" required class="bg-white border-0 ring-0 focus:ring-0 px-10 lg:py-15 w-full text-base placeholder:text-base placeholder:leading-none placeholder:text-black">
            </div>
            <div class="col-span-6 relative mb-15 md:mb-0">
              <input type="text" placeholder="Telefon" name="phone" value="{{ old:phone }}" class="bg-white border-0 ring-0 focus:ring-0 px-10 lg:py-15 w-full text-base placeholder:text-base placeholder:leading-none placeholder:text-black">
            </div>
          </div>
          <div class="md:grid md:grid-cols-12 gap-15 mb-15">
            <div class="col-span-6 relative !col-span-12">
              <textarea type="text" placeholder="Mitteilung" name="message" value="{{ old:message }}" class="bg-white border-0 ring-0 focus:ring-0 px-10 lg:py-15 w-full text-base placeholder:text-base placeholder:text-black min-h-[150px] md:min-h-[240px]"></textarea>
            </div>
            <div class="col-span-6 relative !col-span-12">
              {{ recaptcha:checkbox }}
            </div>
            <div class="col-span-6 relative">
              <button class="flex items-center mr-10 xl:mr-15 bg-ocean px-15 md:px-25 xl:px-45 py-15 uppercase font-medium text-center text-white !leading-none hover:bg-black h-auto" type="submit"> Senden </button>
            </div>
          </div>
        {{ /if }}
      {{ /form:contact }}
    </div>
 </article>
</section>
{{ recaptcha }}
{{# {{ vite src="resources/js/form/contact.js" }} #}}
