<section class="site-container-wide bg-silver-mist py-24 md:pb-44">
  <a name="kontakt" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="site-container content">
    <h1 class="text-ocean">Kontakt</h1>
    <h2 class="!mb-5">Martin Weiss Treuhand AG</h2>
    <p>
      Telefon <a href="tel:079 712 28 18" title="Anruf an 079 712 28 18" class="hover:underline underline-offset-2">079 712 28 18</a><br>
      <a href="mailto:info@treuhand-weiss.ch" target="_blank" title="E-Mail an info@treuhand-weiss.ch senden" class="hover:underline underline-offset-2">info@treuhand-weiss.ch</a>
    </p>
    <div class="mt-30 xl:mt-40 md:grid md:grid-cols-2 md:gap-20">
      <div class="md:col-span-1">
        <h2 class="!mb-0 capitalize">Standort Illnau</h2>
        <a href="https://goo.gl/maps/m79LqXWQVZsCGaCg9" target="_blank" title="Auf Karte anzeigen" class="hover:underline underline-offset-2">Im Chrummenacher 2<br>8308 Illnau</a>
        <div class="mt-15 min-h-[240px] md:min-h-[400px]" id="map-illnau"></div>
      </div>
      <div class="mt-30 md:mt-0 md:col-span-1">
        <h2 class="!mb-0 capitalize">Standort Zug</h2>
        <a href="https://goo.gl/maps/eb2Fo2F8Md9DdYsL7" target="_blank" title="Auf Karte anzeigen" class="hover:underline underline-offset-2">Untere Roostmatt 8<br>6300 Zug</a>
        <div class="mt-15 min-h-[240px] md:min-h-[400px]" id="map-zug"></div>
      </div>
    </div>
    <div class="mt-30 xl:mt-40">
      <div id="form-contact"></div>
    </div>
 </article>
</section>
{{ vite src="resources/js/form/contact.js" }}
