<section class="site-container-wide bg-silver-mist py-24 md:pb-44">
  <a name="kontakt" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="site-container content">
    <h1 class="text-ocean">Kontakt</h1>
    <h2 class="!mb-5">Martin Weiss Treuhand AG</h2>
    <p>
      Telefon <a href="tel:079 712 28 18" title="Anruf an 079 712 28 18" class="hover:underline underline-offset-3">079 712 28 18</a><br>
      <a href="mailto:info@treuhand-weiss.ch" target="_blank" title="E-Mail an info@treuhand-weiss.ch senden" class="hover:underline underline-offset-2">info@treuhand-weiss.ch</a>
    </p>
    
 </article>

</section>
