<section class="site-container-wide py-24 md:pb-44">
  <a name="jobs" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="content site-container">
    <h1 class="leading-none">Jobs</h1>
    <div class="max-w-3xl">
      <h2 class="leading-snug">Gemeinsam erfolgreich sein</h2>
      <p>Als ich vor über fünfzig Jahren mein erstes Computer-Programm auf Lochkarten gestanzt habe, habe ich nicht geahnt, was für eine aufregende Zeit auf mich wartet. Ich gehöre zu den privilegierten Menschen, die ihr Hobby als Beruf ausüben dürfen. Zuerst zwanzig Jahre als IBM Mitarbeiter, dann in meiner Informatik AG. Ich war mitten drin, als sich anfangs der achtziger Jahre die ersten Personal Computer auf dem Markt ankündigten. Ich war Teil der Community, welche im Banken-Sektor die Digitalisierung vorangetrieben hat. Ich erinnere mich an die aufregende Zeit als Technical Lead bei TWINT als noch unklar war, ob sich die Bezahl-App in der Schweiz etablieren würde. Ich habe in den vergangenen Jahrzenten viele Informatiker ausgebildet und auf meine persönliche Weiterbildung geachtet, auch in betriebswirtschaftlicher Hinsicht.</p>
      <p>Vor zwei Jahren habe ich meine IT-Firma an den Nagel gehängt, seit einem Jahr biete ich Treuhand-Dienstleistungen an. Genauso motiviert wie eh und je. Die Prozesse sind etabliert und warten darauf, ausgerollt zu werden.</p>
      <p>An den Wochenenden wartet das wunderschöne Oberengadin auf mich. Und ich vielleicht auf Sie. Es ist ein Privileg, nicht mehr arbeiten zu müssen, aber es aus Leidenschaft tun zu wollen.</p>
      <h2 class="leading-snug mt-20 lg:mt-30">Ich suche …</h2>
      <p>motivierte Persönlichkeiten/Teamplayer mit IT-Affinität, idealerweise mit SelectLine/ImmoTop2 Kenntnissen, gutem kaufmännischen und betriebswirtschaftlichem Background oder Knowhow in der Liegenschaftsverwaltung oder Marketing</p>
      <h2 class="leading-snug mt-20 lg:mt-30">Ich biete …</h2>
      <p>Flexibilität in puncto Homeoffice, Teilzeitmodellen und Weiterbildung. Die Möglichkeit als Mitarbeiterin oder Mitarbeiter sowie Partner sind offen.</p>
      <div class="mt-20 lg:mt-30">
        <a href="#kontakt" class="inline-flex items-center mr-10 xl:mr-15 bg-ocean px-15 md:px-25 py-15 uppercase font-medium text-center text-white !leading-none hover:bg-black h-auto">
          <div class="leading-none"> Es gibt viel zu tun. Packen wir es gemeinsam an</div>
        </a>
      </div>
    </div>
  </article>
</section>