<section class="site-container py-24 md:pb-44">
  <a name="dienstleistungen" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="content mb-30">
    <h1>Ihr Vertrauen verpflichtet</h1>
    <p>Willkommen bei der Martin Weiss Treuhand AG, Ihrem zuverlässigen Partner für professionelle Treuhanddienstleistungen. Um Ihre finanziellen Angelegenheiten optimal zu verwalten, biete ich Ihnen massgeschneiderte Lösungen.</p>
    <div>Meine Dienstleistungen richten sich in erster Linie an:</div>
    <ul>
      <li>kleine und mittlere Unternehmen</li>
      <li>Eigentümer von Mietliegenschaften</li>
      <li>Stockwerkeigentumsgemeinschaften</li>
      <li>Vereine im Zürcher Oberland und Kanton Zug</li>
    </ul>
  </article>
  <article class="content md:grid md:grid-cols-12 md:gap-15">
    <div class="bg-ocean p-15 md:p-20 lg:p-30 mb-15 md:mb-0 md:col-span-6 text-white xl:min-h-[274px]">
      <h2 class="text-white text-md xl:text-lg">Liegenschaftsverwaltung</h2>
      <ul class="!mb-0">
        <li>Bilanz, Erfolgsrechnung und Nebenkostenabrechnung erstellen</li>
        <li>Mieteinnahmen überwachen</li>
        <li>Zahlungen auslösen</li>
        <li>Mietverträge abschliessen und überwachen</li>
      </ul>
    </div>
    <div class="bg-silver-mist p-15 md:p-20 lg:p-30 mb-15 md:mb-0 md:col-span-6 xl:min-h-[274px]">
      <h2 class="text-md xl:text-lg">Verwaltung im Stockwerkeigentum</h2>
      <ul class="!mb-0">
        <li>Kosten budgetieren, abrechnen und verteilen</li>
        <li>Zahlungen der Stockwerkeigentümer einfordern und überwachen</li>
        <li>Zahlungen auslösen</li>
        <li>Bilanz und Erfolgsrechnung erstellen</li>
        <li>Eigentümerversammlungen planen, durchführen und protokollieren</li>
      </ul>
    </div>
    <div class="bg-ocean md:bg-silver-mist p-15 md:p-20 lg:p-30 mb-15 md:mb-0 md:col-span-6 xl:min-h-[274px] text-white md:text-black">
      <h2 class="text-md xl:text-lg">Buchhaltung</h2>
      <ul>
        <li>Finanzbuchhaltung (Bilanz, Erfolgsrechnung) erstellen</li>
        <li>Lohnbuchhaltung und Lohnabrechnung erstellen</li>
      </ul>
    </div>
    <div class="bg-silver-mist md:bg-ocean p-15 md:p-20 lg:p-30 mb-15 md:mb-0 md:col-span-6 xl:min-h-[274px] md:text-white">
      <h2 class="text-white text-md xl:text-lg">Steuern</h2>
      <ul>
        <li>Steuererklärung erstellen und einreichen</li>
      </ul>
    </div>
  </article>
</section>