<section class="site-container-wide bg-silver-mist py-24 md:pb-44">
  <a name="partner" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="site-container content">
    <h1 class="leading-none">Partner</h1>
    <div class="md:grid md:grid-cols-12 md:gap-20 xl:gap-30">
      <div class="md:col-span-9">
        <h2>Selectline Business Software</h2>
        <p>Martin Weiss Treuhand AG setzt für ihre Mandate SelectLine Business Software ein und ist gleichzeitig Vertriebspartner von SelectLine Software AG. Die integrierte und beliebig erweiterbare KMU Lösung ist in der Schweiz in mehreren tausend Unternehmungen im Einsatz und umfasst zu attraktiven Preisen:</p>
        <ul>
          <li>Auftragsbearbeitung</li>
          <li>Rechnungswesen</li>
          <li>Lohnbuchhaltung</li>
          <li>Archivierung</li>
        </ul>
        <div class="mt-15 xl:mt-20 flex">
          <a href="/assets/martin-weiss-treuhand-Leistungsuebersicht-SelectLine-Software.pdf" target="_blank" class="flex items-center mr-10 xl:mr-15 bg-ocean px-15 md:px-25 xl:px-45 py-15 uppercase font-medium text-center text-white !leading-none hover:bg-black h-auto">
            <div class="leading-none">Leistungen</div>
          </a>
          <a href="/assets/martin-weiss-treuhand-Preisliste-SelectLine-Software-AG-Einheitspreis.pdf" target="_blank" class="flex items-center mr-10 xl:mr-15 bg-ocean px-15 md:px-25 xl:px-45 py-15 uppercase font-medium text-center text-white !leading-none hover:bg-black h-auto">
            <div class="leading-none">Preise</div>
          </a>
        </div>
        <div class="mt-15 xl:mt-20">Gerne unterstütze ich Sie bei der Auswahl der Software-Pakete, der Installation und bei Fragen zum Betrieb.</div>
      </div>
      <figure class="mt-35 md:col-span-3 justify-end">
        <a href="https://www.selectline.ch" target="_blank" rel="noopener" title="Webseite Selectline">
          <img src="/assets/martin-weiss-treuhand-selectline-partner.jpg" class="w-full h-auto max-w-[125px] xl:max-w-[150px]" width="368" height="368" alt="Selectline Partner Logo"> 
        </a>
      </figure>
    </div>
    <div class="mt-20 xl:mt-30 md:grid md:grid-cols-12 md:gap-20 xl:gap-30">
      <div class="md:col-span-9">
        <p>Startups können die komplette Programm-Palette ein Jahr kostenlos und ohne jegliche Verpflichtung nutzen. Eine Cloud-Version steht Ihnen für 7 Tage unentgeltlich zur Verfügung.</p>
        <figure class="mt-10 xl:mt-20">
          <a href="https://www.selectline.ch/de/produkte/testen.html?vp=MartinWeissTreuhand&grund=www.treuhand-weiss.ch" target="_blank" rel="noopener" title="Webseite Selectline Partner Business Software">
            <img src="/assets/martin-weiss-treuhand-selectline-business-software-banner.jpg" class="w-full h-auto max-w-md" width="368" height="368" alt="Selectline Partner Business Software">
          </a> 
        </figure>
      </div>
    </div>
    <div class="mt-35 xl:mt-45 md:grid md:grid-cols-12 md:gap-20 xl:gap-30">
      <div class="md:col-span-9">
        <h2>IMMOTOP2</h2>
        <p>Martin Weiss Treuhand AG setzt die Immobiliensoftware von W@W Immo Informatik AG ein. Als Schweizer Marktführerin für Immobilienbewirtschaftungslösungen überzeugt sie seit über 30 Jahren mit ihren innovativen Produkten.</p>
      </div>
      <figure class="md:col-span-3 justify-end items-center">
        <a href="https://www.wwimmo.ch/produkte/immotop2/" target="_blank" rel="noopener" title="Webseite Immobiliensoftware Immotop">
          <img src="/assets/martin-weiss-treuhand-logo-immotop.png" class="w-full h-auto max-w-[125px] xl:max-w-[150px]" width="368" height="368" alt="Immobiliensoftware Immotop">
        </a>
      </figure>
    </div>
  </article>
</section>