<section class="site-container-wide bg-silver-mist py-24 md:pb-44">
  <a name="referenzen" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="content site-container">
    <h1 class="leading-none">Referenzen</h1>
    <div class="max-w-3xl">
      <h2 class="leading-snug">Outsourcing eines Elektrikergeschäfts und eines IT-Startups, mit bexio Business Software</h2>
      <ul>
        <li>Auftrag (Offerten, Auftragsbestätigungen, QR-Rechnungen)</li>
        <li>Rechnungswesen (Bilanz/Erfolgsrechnung, Offene Posten Debitoren/Kreditoren, elektronsicher Datenaustausch mit Banken für Zahlungsausgänge/Zahlungseingänge, Mehrwertsteuer-Abrechnungen),</li>
        <li>Lohn (Lohnabrechnungen, Lohnausweise, elektronischer Datenaustausch mit AHV, Pensionskassen, etc.)</li>
      </ul>
      <h2 class="leading-snug">Software Migrationen</h2>
      <ul>
        <li>Software-Umstellung von SelectLine zu bexio bei einem Handels- und Dienstleistungsbetrieb</li>
      </ul>
      <h2 class="leading-snug mt-20 lg:mt-30">Verwaltung eines Mehrfamilienhauses</h2>
      <p>Zehn Mietobjekten (Wohnungen, Garagen) inklusive Nebenkostenabrechnung mit ImmoTop2 Software</p>
      <h2 class="leading-snug mt-20 lg:mt-30">Revisionsstelle</h2>
      <p>STWEG mit 9 Stockwerkeinheiten (Wohnungen)</p>
      <h2 class="leading-snug mt-20 lg:mt-30">Steuererklärungen </h2>
      <p>Natürliche und juristische Personen</p>

      <div class="mt-20 lg:mt-30">
        <a href="#kontakt" class="inline-flex items-center mr-10 xl:mr-15 bg-ocean px-15 md:px-25 py-15 uppercase font-medium text-center text-white !leading-none hover:bg-black h-auto">
          <div class="leading-none">Referenz-Kontakt auf Anfrage</div>
        </a>
      </div>


    </div>
  </article>
</section>