<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<title>Martin Weiss Treuhand AG</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 21px; color: #000000;">
<div style="padding: 15px">
  <div style="margin-bottom: 35px;">
    <img src="https://treuhand-weiss.ch/img/logo.png" title="Martin Weiss Treuhand AG" alt="Martin Weiss Treuhand AG" height="51" width="300" style="display:block; height:auto; width: 300px;">
  </div>
  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 21px; color: #000000;margin-bottom: 15px;">
    Neue Nachricht
  </div>
  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 21px; color: #000000;margin-bottom: 15px;">
    <strong>Vorname</strong><br>
    {{ firstname }}
  </div>
  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 21px; color: #000000;margin-bottom: 15px;">
    <strong>Name</strong><br>
    {{ name }}
  </div>
  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 21px; color: #000000;margin-bottom: 15px;">
    <strong>E-Mail</strong><br>
    {{ email }}
  </div>
  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 21px; color: #000000;margin-bottom: 15px;">
    <strong>Telefon</strong><br>
    {{ phone }}
  </div>
  <div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 21px; color: #000000;margin-bottom: 15px;">
    <strong>Nachricht</strong><br>
    {{ remarks | nl2br }}
  </div>
</div>
</body>
</html>