.select-wrapper {
  background-color: transparent;
  display: block;
  position: relative;
  width: 100%;
}

.select-wrapper::after {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px auto;
  background-color: transparent;
  content: '';
  height: 100%;
  right: 0;
  padding: 0 5px;
  position: absolute;
  top: 0;
  width: 32px;
  z-index: 0;
}

.select-wrapper select {
  @apply font-medium;
}